---
import BaseLayout from '@layouts/BaseLayout.astro'
const { title, description, image, fullDescription, blocks } = Astro.props.frontmatter;
---

<BaseLayout title={title} description={description}>
  <p class="mt-2 mb-7">Breadcrumbs &gt; crumbs &gt; crumbs</p>

  <div class="flex gap-10 mb-20">
    <img src={image} alt={title} class="h-20" />
    <div>{fullDescription}</div>
  </div>
  <div class="bg-sky-900 grid grid-cols-3 gap-3 p-10">
    <div class="bg-white p-10">
      <h3 class="text-xl mb-3">Challenge</h3>
      {blocks.challenge}
    </div>
    <div class="bg-white p-10">
      <h3 class="text-xl mb-3">Solution</h3>
      {blocks.solution}
    </div>
    <div class="bg-white p-10">
      <h3 class="text-xl mb-3">Outcome</h3>
      {blocks.outcome}
    </div>
  </div>

  <slot />
</BaseLayout>

<style is:global>
  h2 {
    font-size: 2rem;
    line-height: 2.5rem;
    margin: 1.5rem 0;
  }
</style>
